body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
}
footer {
  padding: 10px 20px 0px;
}

.base-card {
  max-width: 800px;
  display: block;
  margin: 30px auto;
  padding: 10px;
  background: #dfeefd;
  border: 1px solid #c6e3ff;
  border-radius: 5px;
}

.navigation {
  width: 100%;
  display: block;
  margin: 0 auto;
  background: #dfeefd;
}

.current-location-button {
  display: block;
  margin-right: 55%;
  color: #00a6e4;
  border-color: #00a6e4;
}

.current-location-button:hover {
  background: #00a6e4;
  border-color: #00a6e4;
  color: #fff;
}

.search-button {
  color: #016ed7;
  border-color: #016ed7;
}

.search-button:hover {
  background: #016ed7;
  border-color: #016ed7;
  color: #fff;
}

.main-card {
  width: 97%;
  display: block;
  margin: 0 auto 10px;
}

.quote {
  text-align: left;
}

.forecast-card {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 160px;
  padding: 0px;
}

.temperature {
  font-size: 80px;
  text-align: center;
  padding-top: 10px;
}

.list-info {
  list-style: none;
  font-size: 20px;
  padding: 60px 10px 0;
  margin: 0;
}

.weather-symbol {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

.todays-temp {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  text-transform: capitalize;
}

.acknowledgement {
  float: right;
}

.forecast-temp {
  font-weight: lighter;
  float: right;
}

.change-temp {
  float: right;
}

.change-f,
.change-c {
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.change-f:hover,
.change-c:hover {
  cursor: pointer;
  font-weight: bold;
  color: #00a6e4;
}
